;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Jun 18 00:22:16 2011
;; Desktop file format version 206
;; Emacs version 23.1.50.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("vm" "taskref" "workflowdefnode" "workflowd"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("c:/Users/raghuramanr/AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.Outlook/0ZHO1I1U/taskExecutor.wsdl" "f:/eclipse/eclipse.ini" "f:/code/WorkflowEngine/target/surefire-reports/TEST-mcore.foundation.worflowengine.HelloWorldWebClientTest.xml" "f:/code/WorkflowEngine/src/main/resources/workflowconfig2.xsd" "f:/code/WorkflowEngine/src/main/resources/workflowconfig.xsd"))

;; Buffer section -- buffers listed in same order as in buffer list:
